<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ButterflyTrackingSystem.Properties.Settings.BTSConnectionString"
            connectionString="server=butterflytrackingsystem.coriiiuartnb.us-east-1.rds.amazonaws.com;user id=root;password=master77;database=BTS;persistsecurityinfo=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>